In [1]:
from database import dbconnection
from database.schema  import schema

db = dbconnection.DbConnection()
db.connect()

In [28]:
TBL_Transactions = db.worksheet('TBL_Transactions')

,ID_Transaction,ID_Account,ID_AccountDestination,CD_Type,ID_Category,DT_TransactionDate,DT_RegistrationDate,NR_Amount,IC_Imported,DS_Description,DS_AttachmentDetails,DS_AttachmentPath,DT_ImportedDate,NR_Balance
0,1,1,0,Expense,0,2021-08-05,2021-11-02 04:37:28,9.99,True,COMPRA CARTAO - COMPRA no estabelecimento DROG...,0,0,2021-11-02 04:37:16,109.94
1,2,1,0,Income,0,2021-08-05,2021-11-02 04:37:28,821.10,True,PIX RECEBIDO - Cp :60701190-PEDRO HENRIQUE BRA...,0,0,2021-11-02 04:37:16,931.04
2,3,1,0,Expense,0,2021-08-05,2021-11-02 04:37:28,350.00,True,PIX ENVIADO - Cp :00000000-JOSE JOAO BARBOSA D...,0,0,2021-11-02 04:37:16,581.04
3,4,1,0,Expense,0,2021-08-05,2021-11-02 04:37:28,7.99,True,COMPRA CARTAO - COMPRA no estabelecimento SUPE...,0,0,2021-11-02 04:37:16,573.05
4,5,1,0,Expense,0,2021-08-05,2021-11-02 04:37:28,280.00,True,SAQUE 24 HORAS - SAQUE no estabelecimento BANC...,0,0,2021-11-02 04:37:16,293.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,272,1,0,Income,0,2021-11-01,2021-11-02 04:37:28,20.00,True,RESGATE POUPANÇA -,0,0,2021-11-02 04:37:16,22.59
272,273,1,0,Expense,0,2021-11-01,2021-11-02 04:37:28,18.55,True,COMPRA CARTAO - COMPRA no estabelecimento SUPE...,0,0,2021-11-02 04:37:16,4.04
273,274,1,0,Income,0,2021-11-01,2021-11-02 04:37:28,10.00,True,RESGATE POUPANÇA -,0,0,2021-11-02 04:37:16,14.04
274,275,1,0,Expense,0,2021-11-01,2021-11-02 04:37:28,6.57,True,COMPRA CARTAO - COMPRA no estabelecimento SUPE...,0,0,2021-11-02 04:37:16,7.47
275,276,1,0,Income,0,2021-11-01,2021-11-02 04:37:28,0.01,True,CASHBACK CREDITO DEBITADO -,0,0,2021-11-02 04:37:16,7.48